<div class="row">
    <div class="col-sm-4">
        <h1>Create Category</h1>
        <form action="/admin/categories/create" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" placeholder="Enter Title" class="form-control" required>
            </div>
            <button class="btn btn-primary">Create Category</button>
        </form>
    </div>

    <div class="col-sm-8">
            <h1>Catagories</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {{#each categories}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{name}}</td>
                        <td>{{GenerateTime date 'LLL'}}</td>
                        <td>
                            <a href="/admin/categories/edit/{{id}}" class="btn btn-warning">Edit</a>
                        </td>
                        <td>
                            <form action="/admin/categories/{{id}}?_method=DELETE" method="POST">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                        
                    </tr>
                {{/each}}
            </tbody>

        </table>


    </div>

</div>

