<h1>comments</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Owner</th>
      <th scope="col">Approve Comment</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>

      {{#each comments}}
    <tr>
      <th scope="row">{{id}}</th>
      <td>{{user.firstName}}</td>
      <td>
        <input data-id="{{id}}" type="checkbox" name="approveComment" {{#if approveComment}}checked{{/if}}>
      </td>
      <td>{{GenerateTime date 'LLL'}}</td>
      <td>

          <form action="/admin/comments/{{id}}?_method=delete" method="POST">




              <button class="btn btn-danger" type="submit">Delete</button>
          </form>
          
          
          
          
          </td>
    </tr>
    {{/each}}
  </tbody>
</table>