<h1>{{user.firstName}} posts</h1>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Image</th>
            <th>Title</th>
            <th>Status</th>
            <th>Category</th>
            <th>Allow Comments</th>
        </tr>
    </thead>
    <tbody>

        {{#each posts}}
        <tr>
            <td>{{id}}</td>
            <td>{{GenerateTime date 'LL'}}</td>
            <td>{{# if file}} <img src="/uploads/{{file}}" class="img-rounded" height="50">{{/if}}</td>
            <td>{{title}}</td>
            <td>{{status}}</td>
            <td>{{category.name}}</td>
            <td>{{allowComments}}</td>
            <td><a href="/post/{{id}}">View</a></td>
            <td>
                <a href="/admin/posts/edit/{{id}}" class="btn btn-warning">Edit</a>
            </td>
            <td>
                <form action="/admin/posts/{{id}}?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>

            </td>
        </tr>
        {{/each}}
    </tbody>



</table>