{{#if post.allowComments}}

    {{#if user}}
    
          <!-- Comments Form -->
          <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
              <form action="/admin/comments" method="POST">
                <div class="form-group">
                  <textarea class="form-control" name="body" rows="3"></textarea>

                  <input type="hidden" name="id" value="{{post.id}}">

                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>

          {{else}}

        <h4>Please Login To Comment</h4>
        <br>
        <form action="/login" method="Get">
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
        <br><hr>

        

    {{/if}}

          {{#if post.comments}}


        {{#each post.comments}}
          <!-- Single Comment -->
          <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              <h5 class="mt-0">{{user.firstName}}</h5>
              <h6 class="mt-0">{{GenerateTime date 'LLL'}}</h6>
                {{body}}
            </div>
          </div>
          
        {{/each}}

        

          {{/if}}


          {{else}}

          <h2>No Comments Allowed on this post</h2>

{{/if}}
